$light-purple: #7610f7;
$lighter-purple: #a066eb;
$light-blue: #4c6cc1;
$light-gray: #acb7bb;
$dark-gray: #191a1e;
$darkest-gray: #101115;
$light-green: #04AA6D;
$light-red: #af2727;
$light-yellow: #acb620;